<!DOCTYPE html>
<html lang="ja">
 <head>
  <meta charset="utf-8">
 </head>
 <body>
     <title>IT就活生支援サイト</title>
     
      <p><h1>・ソフトウェア業界に関する企業</h1>
      　　  <h2>ソフトウェア業界とは？</h2>
     　        主にコンピューターやアプリなどのプログラム開発に携わる業界です。
     　        主な職種としては、システムエンジニア（SE）・プログラマー・ネットワークエンジニアなどがありますが、
     　        線引きは曖昧で、企業によってはそれぞれの職務が重複していることもあります。
     　        システムの設計・開発・テストを手掛けるのがシステムエンジニアです。
     　         <%= link_to '企業一覧へ', software_path %><br>
     　</p>
     　
     　<p><h1>・ハードウェア業界に関する企業</h1>
     　　　   <h2>ハードウェア業界とは？<h2>
     　　　    電子機器類のような目に見える機械や設備・装置などを製造しているの業界です。 
     　　　    主な職種としては、電子回路や電子機器の設計を担うハードウェアエンジニアです。
     　　　    電気・電子工学の知識だけでなく、ソフトウェアや品質管理に関する知識も求められることがあります。
     　　　     <%= link_to '企業一覧へ', hardware_path %><br>
     　</p>
     　
     　<p><h1>・インターネットWeb業界に関する企業</h1>
     　　    <h2>インターネットWeb業界とは？</h2>
     　　  　 Webサイトやインターネット広告の制作、EC（電子商取引）、SNSなどに関わる業界です。
     　　     主な職種としてはWebサイト制作の際に全体を指揮するWebディレクターや、Webサイトに掲載する記事を執筆する
     　    　Webライター、また、WebサイトのデザインをするWebデザイナーなどがあります。
     　    　   <%= link_to '企業一覧へ', web_path %><br>
     　</p>
     　
     　<p><h1>・情報処理サービス（SI）業界に関する企業<h1>
     　     <h2>情報処理サービス（SI）業界とは？ <h2>
     　        システム開発から保守まで一括で請け負う「SIer」企業と、必要な期間・人数のエンジニアを提供する「SES」企業に分類できます。
     　        SIerはソフトウェアの受託開発と情報処理という、2つの業界にまたがっています。
     　        主な職種としては、ITを切り口とした提案で顧客企業の抱える課題を解決する「ITコンサルタント」や、
     　        エンジニアと営業の二役を併せ持った職種「セールスエンジニア」などがあります。
     　        セールスエンジニアは、IT業界の変化のスピードに対応できる「技術の分かる営業」へのニーズから生まれた職種です。
     　           <%= link_to '企業一覧へ', si_path %><br>
     　 </p>
     　 
     　 <p><h1>・通信インフラ業界<h1>
     　     <h2>通信インフラ業界とは？</h2>
     　     通信インフラとはインターネットやスマートフォン、Wi-Fiなどに用いられる通信回線や、それらを運用するために必要な設備のことです。
     　     主な職種としては、サーバーの設計・構築・管理を行う「サーバーエンジニア」、コンピューターネットワークの構築・運用を行う「ネットワークエンジニア」、
     　     データベースの設計・開発を行う「データベースエンジニア」、情報セキュリティに配慮した設計や構築を行う「セキュリティエンジニア」があります。
     　        <%= link_to '企業一覧へ', infra_path %><br>
     　 </p>    
 </body>
</html>