<% @users.each do |e| %>
<p>
    <%= e.uid %>
    <%= e.password %>
    <%= link_to '削除', user_path(e.id), method: :delete %>
</p>
<% end %>

<p>
<%= link_to '新規登録', new_user_path %>
<%= link_to 'ログイン', top_login_path %>
</p>

<%= link_to 'トップページ', top_main_path %>

aiueo
kakikukeko
sasisuseso

<<<<<<< HEAD
q
=======
w
>>>>>>> N
