<%= form_for @user, action: :create do |f| %>
<p>  
  <%= f.label :uid, 'ID' %>
  <%= f.text_field :uid  %>
  <%= f.label :password_digest, 'パスワード' %>
  <%= f.text_field :password_digest %>
  <%= f.submit '登録' %> 
</p>  
<% end %>
